{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel=""   href="{% static 'semantic_ui/semantic.min.css' %}">

</head> 
<body>

        <div class="ui header segment">

                <div class="ui container">

                    <h1 class="ui header" >Tarixiy so'zlar</h1>

                    <div class="ui divider"></div>
                    <p >Tarixiy so'zlar va ularning bugungi kundagi ma'nosi</p>

                </div>
        </div>
 
        <div class="ui container">

            <div class="ui placeholder segment">

                <div class="ui icon header" >
                    Tarixiy - Zamonaviy so'zlar

                </div>

                <div class="inline" >

                    <div class="ui massive form search">
    
                        <form method="GET" action="/"  class="ui icon input" >
    
                            <input name="query" value="{{ query }}" class="prompt" type="text" placeholder="So'z kiriting ">
                            <i class="search link icon"></i>
    
                        </form >
    
                    </div>
    
                </div>

            </div>

            <div class="ui piled segment">

                <h4 class="ui header">Natija </h4>

                <table  class="ui celled large green table">

                    <thead>

                        <tr> 

                            <th ><i class="history icon"><b>Tarixiy</b></i></th>
                            <th ><i class="globe icon"></i> Zamonaviy</th>
                            
                        </tr>

                    </thead>

                    <tbody>

                        {% if natija %}
                            {% for data in natija %}
                        <tr>
                            <td>{{ data.tarixiy }}</td>
                            <td>{{ data.zamonaviy }}</td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                    
                </table>


            </div>

        </div>


    
</body> 
</html>  







